<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Binasea | NFT Marketplace HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/icon/Favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icon/Favicon.png">

</head>

<body class="body header-fixed">

    <!-- preloade -->
    <div class="preload preload-container">
        <div class="preload-logo"></div>
    </div>
    <!-- /preload -->

    <div id="wrapper" class="wrapper-style">
        <div id="page" class="clearfix">
            <header class="header">
                <div class="tf-container">
                    <div class="row">
                        <div class="col-md-12">                              
                            <div id="site-header-inner">                                 
                                <div id="site-logo" class="clearfix">
                                    <div id="site-logo-inner">
                                        <a href="index.html" rel="home" class="main-logo">
                                            <img id="logo_header" src="assets/images/logo/logo_dark.png" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                
                               <div class="header-center">
                                <nav id="main-nav" class="main-nav">
                                    <ul id="menu-primary-menu" class="menu">
                                        <li class="menu-item menu-item-has-children ">
                                            <a href="#">Home</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item "><a href="index.html">Home 1</a></li>
                                                <li class="menu-item"><a href="home2.html">Home 2</a></li>
                                                <li class="menu-item"><a href="home3.html">Home 3</a></li>
                                                <li class="menu-item"><a href="home4.html">Home 4</a></li>
                                                <li class="menu-item"><a href="home5.html">Home 5</a></li>
                                                <li class="menu-item"><a href="home6.html">Home 6</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children current-menu-item">
                                            <a href="#">Explore</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="explore-grid.html">Explore</a></li>
                                                <li class="menu-item current-item"><a href="explore-banner.html">Explore 2</a></li>
                                                <li class="menu-item"><a href="explore-sidebar-3-item.html">Explore 3 Item</a></li>
                                                <li class="menu-item"><a href="explore-sidebar-4-item.html">Explore 4 Item</a></li>
                                                <li class="menu-item"><a href="collection.html">Collection</a></li>
                                                <li class="menu-item"><a href="live-auction.html">Live Auction</a></li>
                                                <li class="menu-item"><a href="live-auction-2.html">Live Auction 2</a></li>
                                                <li class="menu-item"><a href="item-details.html">Item Details</a></li>
                                                <li class="menu-item"><a href="item-details-2.html">Item Details 2</a></li>
                                            </ul>
                                        </li>
                                        

                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="#">Dashboard </a>
                                                    <ul class="sub-menu menu-item-has-children right-sub-menu ">
                                                        <li class="menu-item"><a href="inventory.html">Dashboard Inventory</a></li>
                                                        <li class="menu-item"><a href="wallet-board.html">Dashboard Wallet</a></li>
                                                        <li class="menu-item"><a href="history-board.html">Dashboard History</a></li>
                                                        <li class="menu-item"><a href="follow-board.html">Dashboard Following</a></li>
                                                        <li class="menu-item"><a href="favorite-board.html">Dashboard Favorites</a></li>
                                                        <li class="menu-item"><a href="edit-profile-board.html">Dashboard Edit Profile 1</a></li>
                                                        <li class="menu-item"><a href="edit-profile-board2.html">Dashboard Edit Profile 2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="ranking.html">Ranking</a></li>
                                                <li class="menu-item"><a href="help-center.html">Help Center</a></li>
                                                <li class="menu-item"><a href="faq.html">FAQ</a></li>
                                                <li class="menu-item"><a href="connect-wallet.html">Connect Wallet</a></li>
                                                <li class="menu-item"><a href="login.html">Login</a></li>
                                                <li class="menu-item"><a href="signup.html">Sign Up</a></li>
                                                
                                            </ul>
                                        </li>

                                        <li class="menu-item">
                                            <a href="add-NFT.html">Create</a>
                            
                                        </li>
                                                                                
                                        <li class="menu-item menu-item-has-children ">
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item "><a href="blog.html">Blog 1</a></li>
                                                <li class="menu-item "><a href="blog2.html">Blog 2</a></li>
                                                <li class="menu-item"><a href="blog-details.html">Blog Details 1</a></li> 
                                                <li class="menu-item"><a href="blog-details2.html">Blog Details 2</a></li>                                        
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item">
                                            <a href="contact.html">Contact</a>                                        
                                        </li>
                                    </ul>
                                </nav><!-- /#main-nav -->
                               </div>

                                <div class="header-right">
                                    <a href="connect-wallet.html" class="tf-button "><span>Connect Wallet</span></a>
                                     <span class="user "><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0_2981_49321" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="11" width="16" height="7">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.2949H15.1998V18.0009H0V11.2949Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_2981_49321)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.59987 12.7117C4.81795 12.7117 1.50146 13.049 1.50146 14.6594C1.50146 15.9365 3.55362 16.5844 7.59987 16.5844C11.6461 16.5844 13.6983 15.9298 13.6983 14.6405C13.6983 13.3607 11.6461 12.7117 7.59987 12.7117ZM7.59998 18.0013C5.5218 18.0013 0 18.0013 0 14.6594C0 11.2949 5.72001 11.2949 7.59998 11.2949C10.8624 11.2949 15.2 11.6416 15.2 14.6405C15.2 18.0013 9.47995 18.0013 7.59998 18.0013Z" fill="#B9B8BB"/>
                                        </g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.60027 1.41683C5.59316 1.41683 3.96045 2.9574 3.96045 4.85029C3.96045 6.74318 5.59316 8.28374 7.60027 8.28374H7.6313C8.59632 8.27997 9.50527 7.92198 10.187 7.27307C10.8697 6.62605 11.2431 5.76556 11.2391 4.85312C11.2391 2.9574 9.60638 1.41683 7.60027 1.41683ZM7.60038 9.70058C4.76541 9.70058 2.45898 7.52432 2.45898 4.85029C2.45898 2.17625 4.76541 0 7.60038 0C10.4344 0 12.7408 2.17625 12.7408 4.85029C12.7468 6.13866 12.2172 7.35525 11.2522 8.27147C10.2892 9.18863 9.00286 9.69585 7.63442 9.70058H7.60038Z" fill="#B9B8BB"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4981 8.62571C14.1297 8.62571 13.8084 8.36973 13.7553 8.01553C13.6983 7.62826 13.9836 7.26933 14.394 7.21549C15.6433 7.05019 16.5863 6.02724 16.5883 4.83521C16.5883 3.65074 15.6893 2.6514 14.453 2.4606C14.0436 2.39637 13.7663 2.03272 13.8334 1.64639C13.9005 1.26007 14.2879 1.00032 14.6953 1.06172C16.6624 1.36586 18.0899 2.95366 18.0899 4.83616C18.0859 6.72999 16.5873 8.35651 14.6032 8.6191C14.5682 8.62382 14.5331 8.62571 14.4981 8.62571Z" fill="#B9B8BB"/>
                                        <mask id="mask1_2981_49321" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="15" y="10" width="5" height="6">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8613 10.8457H19.9994V15.5473H15.8613V10.8457Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask1_2981_49321)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9138 15.5473C17.6104 15.5473 17.3251 15.3725 17.212 15.0901C17.0649 14.7245 17.2601 14.3146 17.6475 14.1767C18.4984 13.8726 18.4984 13.5013 18.4984 13.3427C18.4984 12.8071 17.8267 12.4406 16.5023 12.2545C16.0918 12.196 15.8085 11.8352 15.8696 11.4488C15.9317 11.0616 16.3211 10.8018 16.7235 10.8519C19.4323 11.2344 19.9999 12.4179 19.9999 13.3427C19.9999 14.0312 19.6846 14.9635 18.18 15.501C18.0929 15.5321 18.0028 15.5473 17.9138 15.5473Z" fill="#B9B8BB"/>
                                        </g>
                                        </svg>
                                        </span>
                                    <a href="#" onclick="switchTheme()" class="mode-switch">
                                        <img id="img-mode" src="assets/images/icon/moon.png" alt="Image">
                                    </a>
                                </div>  

                                <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </header>

            <!-- title page -->
            <section class="tf-page-title">    
                <div class="tf-container">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="breadcrumbs">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="explore.html">Explore</a></li>
                                <li>Explore Banner</li>
                            </ul>

                            <h4 class="page-title-heading">Explore Banner</h4>
                   
                        </div>
                    </div>
                </div>                    
            </section>
                
            <section class="tf-baner-live-auction style-2">
                <div class="tf-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-liver-auction-wrap">
                                <div class="content">
                                    <div class="heading">
                                        <h2 class="title">Big Boss #1238</h2>
                                        <span class="label">Coming soon</span>
                                    </div>
                                    <div class="price">
                                        <span class="icon"><i class="fab fa-ethereum"></i></span>
                                        <span>5 ETH</span>
                                    </div>
                                    <p class="sub-heading">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="image">
                                    <img src="assets/images/img-banner-explore.png" alt="Image" class="img1">
                                    <img src="assets/images/img-banner-live-auction-2.png" alt="Image" class="img2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tf-live-auction explore-banner tf-filter">
                <div class="tf-container">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="top-menu">
                                <ul class="filter-menu">
                                    <li class="active"><a href="#" data-filter=".3d">3D MODEL</a></li>
                                    <li><a href="#" data-filter=".anime">ANIME/MANGA</a></li>
                                    <li><a href="#" data-filter=".cyber">CYBER PUNK</a></li>
                                    <li><a href="#" data-filter=".pixel">PIXEL ART </a></li>
                                    <li><a href="#" data-filter=".music">MUSIC </a></li>
                                    <li><a href="#" data-filter=".abstract">ABSTRACT </a></li>
                                    <li><a href="#" data-filter=".2d">2D ARTS </a></li>
                                </ul>
                                <div id="item_category" class="dropdown">
                                    <a href="#" class="btn-selector nolink ">Recently Create</a>
                                    <ul >
                                        <li><span>Recently Listed</span></li>
                                        <li class="active"><span>Recently Created</span></li>
                                        <li><span>Recently Sold</span></li>
                                        <li><span>Recently Received</span></li>
                                        <li><span>Recently Soon</span></li>
                                        <li><span>Recently Low to Hight</span></li>
                                        <li><span>Recently Last Sale</span></li>
                                        <li><span>Oldest</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row tf-filter-container">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d cyber">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Sweet Baby #1</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author31.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Cynthia Burke</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product4.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d pixel">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Avidlines #14843</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author33.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Astrid Swanson</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product5.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d music">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Archetype #597</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author34.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Sirena May</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product6.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d 2d">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Chimera #977</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author35.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Sirena May</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product7.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d anime">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Cool Cat 3D #2538</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author36.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Cynthia Burke</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product9.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d abstract">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Doodle #9972</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author36.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Astrid Swanson</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product10.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d abstract">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Slow Mo #127</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author37.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Sirena May</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product11.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore 3d 2d">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Kick Shock #1</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author38.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Sirena May</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product12.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore anime">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Sweet Baby #1</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author1.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Cynthia Burke</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product4.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore cyber">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Sweet Baby #1</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author1.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Cynthia Burke</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product8.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore pixel">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Sweet Baby #1</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author33.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Cynthia Burke</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product8.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 tf-loadmore music">
                            <div class="sc-product style2">
                                <div class="top">
                                    <a href="item-details.html" class="tag">Sweet Baby #1</a>
                                    <div class="wish-list">
                                        <a href="#" class="heart-icon"></a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="details-product">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="assets/images/author/author1.png" alt="images">
                                            </div>
                                            <div class="content">
                                                <div class="position">Creator</div>
                                                <div class="name"> <a href="#">Cynthia Burke</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="product-media">
                                        <img src="assets/images/product/product4.jpg" alt="images">
                                    </div>
                                    <div class="rain-drop1"><img src="assets/images/icon/rain1.svg" alt="images"></div>
                                    <div class="rain-drop2"><img src="assets/images/icon/rain2.svg" alt="images"></div>
                                </div>
                                <div class="bottom-style2">
                                    <div class="price">
                                        <div class="icon"><img src="assets/images/icon/ethe.svg" alt="images"></div>
                                        <div class="content">
                                            <div class="name">ETH</div>
                                            <div class="cash">0.0041</div>
                                        </div>
                                    </div>
                                    <div class="product-button">
                                        <a href="#" data-toggle="modal" data-target="#popup_bid" class="tf-button"> Purchase</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="col-md-12">
                        <div class="btn-loadmore mt17">
                            <a href="#" class="tf-button loadmore">Load More</a>
                        </div>
                    </div>
                </div>
            </section>

           <!-- Footer -->
           <footer class="footer">
                <div class="tf-container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-3 col-md-3">
                            <div class="widget widget-infor">
                                <div class="logo">
                                    <img id="logo_footer" src="assets/images/logo/logo_dark.png" alt="Image">
                                </div>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                                <ul class="social-item">
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="icon-fl-tik-tok-2"></i></a></li>
                                    <li><a href="#"><i class="icon-fl-vt"></i></a></li>
                                </ul>
                                <p class="copy-right">Copyright © 2022 Themesflat. All Rights Reserved.

                                </p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5">
                            <div class="widget widget-menu">
                                <div class="menu menu-1">
                                    <h6 class="widget-title">Maketplace</h6>
                                    <ul >
                                        <li><a href="#">Explore</a></li>
                                        <li><a href="#">Item Detail</a></li>
                                        <li><a href="#">Live Auditon</a></li>
                                    </ul>
                                </div>
                                <div class="menu menu-2">
                                    <h6 class="widget-title">Stats</h6>
                                    <ul >
                                        <li><a href="#">Ranking</a></li>
                                        <li><a href="#">Ativity</a></li>
                                        <li><a href="#">Auther</a></li>
                                    </ul>
                                </div>
                                <div class="menu menu-3">
                                    <h6 class="widget-title">Resoure</h6>
                                    <ul >
                                        <li><a href="#">Blogs</a></li>
                                        <li><a href="#">Help and Center</a></li>
                                        <li><a href="#">FaQs</a></li>
                                    </ul>
                                </div>
                                <div class="menu menu-4">
                                    <h6 class="widget-title">My account</h6>
                                    <ul >
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">My wallet</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4">
                            <div class="widget widget-subcribe">
                                <h6 class="widget-title">Subscribe Us</h6>
                                <p class="content">Signup for our newsletter to get the latest news in your inbox.</p>
                                <form action="#" id="subscribe-form">
                                    <input type="email" placeholder="Info@yourgmail.com" required="" id="subscribe-email">
                                    <button class="tf-button" type="submit" id="subscribe-button"><i class="icon-fl-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           </footer>

        <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <div class="modal fade popup" id="popup_bid" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body space-y-20 pd-40">
                    <h3>Place a Bid</h3>
                    <p class="text-center sub-heading">You must bid a least <span class="price color-popup">4.89 ETH</span></p>
                    <input type="text" class="form-control" placeholder="00.00 ETH">
                    <p class="label-1">Enter quantity. <span class="color-popup">5 available</span>
                    </p>
                    <input type="text" class="form-control quantity form-bottom" value="1">
                    <div class="d-flex justify-content-between detail-1">
                        <p> You must bid at least:</p>
                        <p class="text-right price color-popup"> 4.89 ETH </p>
                    </div>
                    <div class="d-flex justify-content-between detail-2">
                        <p> Service free:</p>
                        <p class="text-right price color-popup"> 0,89 ETH </p>
                    </div>
                    <div class="d-flex justify-content-between detail-3">
                        <p> Total bid amount:</p>
                        <p class="text-right price color-popup"> 4 ETH </p>
                    </div>
                    <a href="#" class="button-popup" data-toggle="modal" data-target="#popup_bid_success" data-dismiss="modal" aria-label="Close"> Place bid</a>
                </div>
            </div>
        </div>
    </div>

    <a id="scroll-top"></a>

    <!-- Javascript -->

    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <script src="assets/js/count-down.js"></script>
    <script src="assets/js/jquery.isotope.min.js"></script>
    <script src="assets/js/switchmode.js"></script>
    <script src="assets/js/plugin.js"></script>
    <script src="assets/js/shortcodes.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>