.logoutBtn{
    background-color: var(--primary-color3);
    color: var(--primary-color);
}
.logoutBtn:hover{
    transition: all 0.3s ease;
    background-color: var(--primary-color);
    color: var(--primary-color3);
}